.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000000;
  color: #fff;
  position: relative;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo img {
  width: 15%;
}
.menu {
  display: flex;
  gap: 20px;
  width: max-content;
  flex-shrink: 0; /*Impede o menu de encolher e esmagar o texto*/
  font-size: 20px;
}
.menu a {
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  color: #fff9f9fa;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .cabecalho {
    padding: 15px 20px;
  }
  .menu-toggle {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1f1e1e;
    padding: 20px;
    gap: 15px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    z-index: 10;
  }
  .menu.ativo {
    display: flex;
  }
}
